body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.nav{
    height: 10%;
    border: 1px gray solid;
    padding: 5px;
}

.content {
    display: flex;
    flex: 1;
}

.content .side{
    width: 300px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}