#search-type{
    width: 100%;
    display: flex;
}

#filter-tag-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    resize: none;
}

.filter-tags-suggestions {
    /*position: absolute;*/
    top: 100%;
    width: 100%;
    border: 1px solid #ddd;
    background: white;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
}

.filter-suggestion-item {
    padding: 8px;
    cursor: pointer;
}

.filter-suggestion-item:hover {
    background-color: #f0f0f0;
}

#filter-tags-display .tag {
    display: inline-block;
    background-color: #ddd;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.user-avatar{
    width: 50px;
    height: 50px;
}

.user-introduction{
    display: -webkit-box;      /* Flex layout that works for truncating */
    -webkit-line-clamp: 2;     /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}