<!DOCTYPE html>
<html lang="en" th:fragment="layout(content)" xmlns:th="https://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <title>okee</title>
  <link rel="stylesheet" th:href="@{/css/homepage.css}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

  <input id="csrf-token" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <input id="current-username" type="hidden" th:name="${session.username}" th:value="${session.username}"/>
  <input id="current-avatar" type="hidden" th:name="${session.avatar}" th:value="${session.avatar}"/>

  <div th:insert="~{home/navbar.html :: navbar}" class="nav">
  </div>

  <div class="content">
    <div th:insert="~{home/sidebar.html :: sidebar(${followingTags})}" class="side">
    </div>

    <div class="main-zone" th:replace="${content}" >
    </div>
  </div>


</body>

</html>