<!DOCTYPE html>
<html lang="en" th:replace="~{home/layout.html :: layout(~{::main})}" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main class="postpage">
        <link rel="stylesheet" th:href="@{/css/postpage.css}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
        <link rel="stylesheet" th:href="@{/css/posts.css}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <div class="postpage-maincontent">
            <div class="postpage-header">
                <div class="postpage-info">
                    <p th:text="${#dates.format(post.getCreatedAt(), 'yyyy/MM/dd HH:mm')}"></p>
                    <p th:if="${post.getUpdatedAt() != null}"
                        th:text="${'Đã chỉnh sửa vào ' + #dates.format(post.getUpdatedAt(), 'yyyy/MM/dd HH:mm')}"></p>
                    <p th:text="${post.getViews() + ' views'}"></p>
                </div>
                <br>
                <div style=" display: flex; justify-content: space-between;margin-bottom: 15px;">
                    <div style="width: 85%;">
                        <h2 th:text="${post.getTitle()}" class="postpage-title"></h2>
                    </div>
                    <div style="width: 15%;">
                        <a th:href="@{${'/post/edit/' + post.id}}" class="postpage-edit-btn">
                            Chỉnh Sửa
                        </a>
                    </div>
                </div>

                <div class="postpage-author-info">
                    <a th:href="@{${'/profile/' + post.getAuthor().getUsername()}}">
                        <img th:src="@{${post.getAuthor().getAvatarImagePath}}" class="author-mini-avatar">
                    </a>
                    <a th:href="@{${'/profile/' + post.getAuthor().getUsername()}}"
                       th:text="*{post.getAuthor().getDisplayName()}" class="postpage-author-name"></a>
                </div>
                <div class="postpage-tags">
                    <a th:each="tag : ${post.getTags()}"
                       th:href="@{#}"
                       th:text="*{tag.getName()}"></a>
                </div>

            </div>
            <hr style="margin-bottom: 20px; opacity: 0.2;">
            <div class="postpage-content">
                <div th:utext="${post.htmlContent}" class="content-markdown"></div>
                <div id="post-comments">
                    <hr style="margin-bottom: 20px; opacity: 0.5;">
                    <h2 style="font-size: 1.5em; color: #333; margin: 20px 0 10px;"> Bình luận: </h2>
                    <div class="comment-form-all">
                        <form th:action="@{${'/post/' + post.getId() + '/comment'}}"
                              class="comment-form"
                              th:object="${userComment}" method="post">
<!--                            <a th:href="@{${'/profile/' + session.username}}">-->
<!--                                <img th:src="@{${session.avatar}}" class="author-mini-avatar">-->
<!--                            </a>-->

                            <div class="comment-editor">
                                <input class="postIdValue" type="hidden" th:name="postId" th:value="${post.id}">
                                <input class="authorIdValue" type="hidden" th:name="authorId" th:value="${session.id}">
                                <input class="parentIdValue" type="hidden" th:name="parentId" th:value="-1">
                                <div style="display: flex">
                                    <img th:src="${session.avatar}" class="comment-editor-avatar">
                                    <textarea placeholder="Viết bình luận..."
                                              th:field="*{content}"
                                              class="comment-textarea"></textarea>
                                </div>


                                <div class="editor-extra">
                                    <div class="editor-extra-container">
                                        <input type="file" class="imageInput" accept="image/*" style="display: none;" onchange="uploadImage(this)">

                                        <button class="submit-button" type="button" onclick="this.closest('div').querySelector('.imageInput').click()">
                                            Ảnh
                                        </button>

                                        <div id="comment-form-submit">
                                            <button  type="submit" class="submit-button"> Bình luận </button>
                                        </div>

                                        <button class="submit-button" type="button"
                                                onclick="showPreview(this, this.closest('form').querySelector('.comment-textarea').value)">
                                            Xem trước
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="preview-container">
                        </div>
                    </div>


                    <div class="comment-thread">
                        <div th:each="comment : ${rootComments}" class="root-comment" th:id="${'comment-container-' + comment.id}">
                            <div class="comment-meta">
                                <div class="comment-info">
                                    <div class="comment-author-info">
                                        <div style="display: flex; align-item: center;">
                                            <a class="comment-author-img" th:href="@{${'/profile/' + comment.getAuthor().getUsername()}}">
                                                <img th:src="@{*{comment.getAuthor().getAvatarImagePath}}" class="author-mini-avatar">
                                            </a>
                                            <a class="comment-author-name" th:href="@{${'/profile/' + comment.getAuthor().getUsername()}}"
                                               th:text="${comment.getAuthor().getDisplayName()}"></a>
                                        </div>
                                        <div>
                                            <div class="comment-date" style="display: flex">
                                                <p th:text="*{#dates.format(comment.getCreatedAt(), 'yyyy/MM/dd HH:mm')}"
                                                   class="date"></p>
                                                <h5 style="margin-left: 5px" th:if="${comment.wasUpdated}"> Đã chỉnh sửa </h5>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="comment-content">
                                        <div th:utext="*{comment.htmlContent}"></div>
                                    </div>
                                </div>

                                <div class="comment-vote">
                                    <div class="vote-buttons">
                                        <form th:action="@{${comment.upvoted ? '/comment/' + comment.id + '/unvote' : '/comment/' + comment.id + '/upvote'}}"
                                              method="post">
                                            <button type="submit" data-rel="back" class="vote-btn up">
                                                <span th:text="${comment.upvotes}" class="upvote-count"></span>
                                            </button>
                                        </form>
                                        <form th:action="@{${comment.downvoted ? '/comment/' + comment.id + '/unvote' : '/comment/' + comment.id + '/downvote'}}"
                                              method="post">
                                            <button type="submit" class="vote-btn down">
                                                <span th:text="${comment.downvotes}" class="downvote-count"></span>
                                            </button>
                                        </form>
                                    </div>

                                    <button class="action-btn"
                                            th:if="${comment.hasChild}"
                                            type="button"
                                            th:onclick="'loadChildComments(' + ${comment.id} + ')'"
                                            th:id="${'get-replies-' + comment.id}"> Xem phản hồi </button>

                                    <button class="action-btn"
                                            th:onclick="'showReplyForm(' + ${comment.id} + ')'">
                                        Phản hồi
                                    </button>

                                    <button class="action-btn"
                                            th:if="${comment.author.username == session.username}"
                                            th:onclick="'showCommentEditForm(' + ${comment.id} + ')'">
                                        Chỉnh sửa
                                    </button>
                                </div>
                            </div>

                            <div th:id="${'reply-form-container-' + comment.id}" class="reply-form"></div>

                            <div th:id="${'child-comments-'+comment.id}" class="child-comments"></div>

                        </div>
                    </div>

                    <div class="pagination">
                        <ul th:each="i : ${#numbers.sequence(1, rootComments.getTotalPages())}">
                            <li th:classappend="${currentPage == i ? 'active' : ''}">
                                <a th:href="@{'?page='+${i} + '#post-comments'}" th:text="${i}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="side-div">
            <div class="side-container">
                <div class="profile-section">
                    <img th:src="@{${post.getAuthor().getAvatarImagePath()}}"
                         class="profile-image">
                    <a th:href="@{${'/profile/' + post.getAuthor().getUsername()}}"
                       th:text="${post.getAuthor().getDisplayName()}"
                       class="profile-name"></a>
                    <!--                <p th:text="${post.getAuthor().getUsername()}"></p>-->
                    <p th:text="${authorFollowers + ' followers'}"></p>

                    <div class="author-card-follow profile-actions">
                        <!-- Edit Profile Button for Current User -->
                        <button th:if="${isCurrentUser}" style="border: none; background:none; margin-top: 13px;">
                            <a th:href="@{/updateProfile}" class="edit-profile-link">Edit Profile</a>
                        </button>

                        <!-- Follow/Unfollow Button for Other Users -->
                        <form th:if="${not isCurrentUser}" th:action="@{${'/profile/' + post.getAuthor().getUsername() + '/follow'}}"
                              method="post">
                            <input type="hidden" name="username" th:value="${post.getAuthor().getUsername()}" />
                            <button class="subFollow" type="submit" th:text="${isFollowing ? 'Unfollow' : 'Follow'}"></button>
                        </form>
                    </div>
                    <div class="vote-section">
                        <form th:action="@{${upvoted ? '/post/' + post.getId() + '/unvote' : '/post/' + post.getId() + '/upvote'}}"
                              method="post">
                            <button class="vote-btn up" aria-label="Upvote" type="submit">
                                <!--                            <i th:class="${upvoted ? 'bx bxs-upvote' : 'bx bx-upvote'}"></i>-->
                                <span class="vote-count" th:text="${post.getUpvotes()}" ></span>
                            </button>
                        </form>
                        <form th:action="@{${downvoted ? '/post/' + post.getId() + '/unvote' : '/post/' + post.getId() + '/downvote'}}"  method="post">
                            <button class="vote-btn down" type="submit" aria-label="Downvote">
                                <!--                            <i th:class="${downvoted ? 'bx bxs-downvote' : 'bx bx-downvote'}"></i>-->
                                <span class="vote-count" th:text="${post.getDownvotes()}" ></span>
                            </button>
                        </form>

                    </div>
                </div>

                <div class="related-posts">
                    <h3 class="related-posts-author-name" th:text="${'Bài viết từ: ' + post.getAuthor().getDisplayName()}"></h3>
                    <div class="related-posts-post-item" th:each="post, iter : ${coauthorPosts}">
                        <a class="related-posts-post-title" th:href="@{${'/post/' + post.id}}" th:text="${post.title}"></a>
                        <div>
                            <p th:text="${post.views + ' views'}"></p>
                            <p th:text="${post.upvotes + post.downvotes + ' votes'}"></p>
                            <p th:text="${post.comments.size() + ' comments'}"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script th:src="@{/js/postpage.js}"></script>
    </main>
</body>
</html>