<!DOCTYPE html>
<html lang="en" th:replace="~{home/layout.html :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>

<body>
    <main class="change-password">
        <h1>Change Password</h1>

        <!-- Hiển thị thông báo lỗi -->
        <div th:if="${error}" class="error">
            <p th:text="${error}"></p>
        </div>

        <!-- Hiển thị thông báo thành công -->
        <div th:if="${redirectParam}" class="success">
            <p th:text="${redirectParam}"></p>
        </div>

        <!-- Form đổi mật khẩu -->
        <form th:action="@{/change-password}" th:object="${changePassword}" method="post">
            <div>
                <label for="oldPassword">Old Password</label>
                <input type="password" id="oldPassword" th:field="*{oldPassword}" placeholder="Enter your old password"
                    required />
                <p th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" class="error-message"></p>
            </div>

            <div>
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" th:field="*{newPassword}" placeholder="Enter your new password"
                    required />
                <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="error-message"></p>
            </div>

            <div>
                <label for="repeatPassword">Repeat Password</label>
                <input type="password" id="repeatPassword" th:field="*{repeatPassword}"
                    placeholder="Repeat your new password" required />
                <p th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}" class="error-message">
                </p>
            </div>

            <button type="submit">Change Password</button>
        </form>
    </main>
</body>

</html>