<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Chat Application</title>
</head>

<body>

    <h2>Chat Box</h2>

    <!-- User Form for entering the chat -->
    <div class="user-form" id="username-page">
        <h3>Enter Chatroom</h3>
        <form id="usernameForm">
            <p id="loading-text">Loading user information...</p>
            <p id="error-message" style="color: red; display: none;">Failed to retrieve user information.</p>
        </form>
    </div>

    <!-- Chatroom UI -->
    <div class="chat-container hidden" id="chat-page" th:data-recipient-id="${recipientId}">
        <div class="users-list">
            <div id="notification-area" class="notification-area"></div>
            <div class="users-list-container">
                <h3>Your RecentUsers</h3>
                <ul id="RecentUsers"></ul> <!-- Following list -->
            </div>
            <div>
                <p id="connected-user-displayname"></p>
                <a href="/" class="btn">Back to Home</a>
            </div>
        </div>

        <div class="chat-area">
            <!-- Display the name of the person you are chatting with -->
            <div id="chat-with-user" class="chat-with-user">
                <h3>Chatting with: <span id="chat-with-username"></span></h3>
            </div>

            <div id="chat-messages" class="chat-messages"></div> <!-- Messages will be added here -->
            <form id="messageForm" name="messageForm">
                <div class="message-input">
                    <input autocomplete="off" type="text" id="message" placeholder="Type your message...">
                    <button type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Notification Container -->
    <div id="notification-container"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>