<!DOCTYPE html>
<html lang="en" th:replace="~{home/layout.html :: layout(~{::main})}" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <main>
        <link rel="stylesheet" th:href="@{/css/searchresult.css}">

        <div id="search-type">
            <button>
                <a th:href="${'?query=' + query + '&type=post'}"> Bài viết </a>
            </button>

            <button>
                <a th:href="${'?query=' + query + '&type=user'}"> Người dùng </a>
            </button>
        </div>

        <form th:if="${param.type} == null or ${#strings.toString(param.type)} == 'post'" id="search-filter">
            <input type="hidden" name="query" th:value="${param.query}">

            <input type="hidden" name="type" th:value="${param.type == null ? 'post' : param.type}">

            <select name="sortBy">
                <option value="relevance"
                    th:selected="${param.sortBy} == null or ${#strings.toString(param.sortBy) == 'relevance'}"> Liên
                    quan </option>
                <option value="newest" th:selected="${#strings.toString(param.sortBy) == 'newest'}"> Mới nhất </option>
                <option value="hot" th:selected="${#strings.toString(param.sortBy) == 'hot'}"> Phổ biến </option>
            </select>

            <select name="date">
                <option value="everytime"
                    th:selected="${param.date} == null or ${#strings.toString(param.date) == 'everytime'}"> Mọi lúc
                </option>
                <option value="today" th:selected="${#strings.toString(param.date) == 'today'}"> Hôm nay </option>
                <option value="this_week" th:selected="${#strings.toString(param.date) == 'this_week'}"> Tuần này
                </option>
                <option value="this_month" th:selected="${#strings.toString(param.date) == 'this_month'}"> Tháng này
                </option>
                <option value="this_year" th:selected="${#strings.toString(param.date) == 'this_year'}"> Năm nay
                </option>
            </select>

            <div>
                <textarea id="filter-tag-input" placeholder="Lọc bởi thẻ"></textarea>
                <div id="filter-tags-display"></div>
                <div id="filter-tag-suggestions" class="filter-tags-suggestions"></div>
            </div>

            <div id="filter-hidden-tags">
                <input type="hidden" th:each="tag : ${tagNames}" th:name="tagName" th:value="${tag}">
            </div>

            <button type="submit" onclick="filter()">
                Lọc
            </button>
        </form>

        <div th:if="${userList != null}">

            <p th:if="${userList.isEmpty()}" th:text="${'Không tìm thấy kết quả nào: ' + query}">
            </p>

            <div th:each="user : ${userList}" class="user-card" style="display: flex; width: 60%">
                <img th:src="@{${user.avatarImagePath}}" class="user-avatar">
                <div>
                    <div style="display: flex">
                        <a th:href="@{/profile/{username}(username=${user.username})}"
                            th:text="${user.displayName}"></a>
                        <a th:href="@{/profile/{username}(username=${user.username})}" th:text="${user.username}"></a>
                    </div>
                    <div style="display: flex">
                        <p th:text="${user.followersCount + ' người theo dõi'}"></p>
                        <p th:text="${user.postsCount + ' bài viết'}"></p>
                    </div>
                    <p th:text="${user.introduction}" class="user-introduction"></p>
                </div>
            </div>

        </div>

        <div th:if="${postList != null}">

            <p th:if="${postList.isEmpty()}" th:text="${'Không tìm thấy kết quả nào: ' + query}">
            </p>

            <div th:replace="~{home/postlist.html :: post-section}">
            </div>

        </div>

        <script th:src="@{/js/searchresult.js}"></script>
    </main>
</body>

</html>